
<div class="story-card" id="story-card-{{ position }}">
    <a href="{% url 'news:story' story.id %}">
        {% if position < 5 %}
            <!-- <img src='media/images/test1.jpg'> -->
            <!-- <img src='media/images/{{ story.main_image }}'> -->
            <img src="../static/news/images/placeholder-{{ position }}.jpg">
        {% else %}
            <img src="https://picsum.photos/600">
        {% endif %}
        <div class="story-card-text">
            <!-- <img src="{{ story.art_pic }}">
            {{ story.art_pic }} -->
            <h3>{{ story.title }}</h3>
            <h4>{{ story.author }}</h4>
            <h4>{{ story.pub_date }}</h4>

        </div>
    </a>
</div>
